@import "tailwindcss";

@font-face {
  font-family: "poppins";
  src: url(/src/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poppins bold";
  src: url(/src/fonts/Poppins-Bold.ttf);
}

:root {
  font-family: "poppins";
  color: oklch(0.9 0.1568 185.22);
}

.glow {
  z-index: -10;
  color: oklch(0.25 0 0);
  
  /* hide fill */
  text-shadow:
  /* core glow — bright and sharp */
   /* crisp core */
   0 0 4px   rgba(20,255,236,1),
   /* strong mid glow */
   0 0 8px   rgba(20,255,236,0.8),
   0 0 16px  rgba(20,255,236,0.6),
   /* softer outer haze */
   0 0 32px  rgba(20,255,236,0.4),
   0 0 64px  rgba(20,255,236,0.2),
   /* gentle fade-out */
   0 0 96px  rgba(20,255,236,0.1);
}

@theme {
  --color-background: oklch(0.25 0 0);
  --color-foreground: oklch(0.32 0 0);
  --color-primary: oklch(0.9 0.1568 185.22);
  --font-poppins-bold: "poppins bold";

}